@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container-form {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.container-form form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
}

.container-form form .inputBox {
    margin-top: 20px;
}

.container-form form .flexbox .inputBox .container-select {
    display: flex;
    gap: 10px;
}

.container-form form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container-form form .inputBox input,
.container-form form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #444;
}

.container-form form .flexbox {
    display: flex;
    gap: 15px;
}

.container-form form .flexbox .inputBox {
    flex: 1 1 150px;
}