html {
    font-size: 62.5%;
}
body {
    background-color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: grid;
    grid-template-areas: "main main";
    grid-template-columns: minmax(400px, 1fr) 1fr;
    min-height: 100vh;
    font-size: 1.6rem;
}

h1 {
    margin: 2em;
    text-shadow: 2px 5px 5px #000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
}