body {
    background-color: rgb(36, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 2em;
    text-shadow: 2px 5px 5px #000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cards {
    display: flex;
    flex-direction: row;
}